<!DOCTYPE html>
    <html lang=\"da\">
        <head>
        <title>Adding form</title>
        <meta charset=\"UTF-8\">
        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">
    </head>

    <body>
    <h1>Udskriver nu alle parameterne </h1>
        $0

    </body>
</html>

